* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
#navbar::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.66;

}
html {
    scroll-behavior: smooth;
}
#navbar .logo {
    
    margin: 11px 40px;
}
#navbar img {
    height: 55px;
    margin: 3px 7px;
}
#navbar ul {
    display: flex;
}
#navbar li {
    display: inline;
    list-style: none;
   
    font-size: 1.2rem;
   
}
#navbar li a {
   text-decoration: none;
   color: white;
   padding: 2px 21px;
   border-radius: 20px;
}

#navbar li a:hover {
    background-color: whitesmoke;
    color: black
}

#home {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 350px;
}
#home::before {
    content: "";
    background: url(ok/food\ bg-2.jpg) no-repeat center center/cover;
    height: 85%;
    width: 100%;
    position: absolute;
    z-index: -2;
    opacity: 1;
    background-color: black;
    
}
.h-primary {
    font-size: 3.8rem;
    padding: 15px;
}
.h-secondary {
    font-size: 2.8rem;
    padding: 10px;
}
#home h1 {
    color: beige;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    margin-top: 130px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}
#home p {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Roboto';
   font-style: italic;
   opacity: 0.7;
}
#home .ordernow {
    font-size: 1.3rem;
    background-color: wheat;
    color: brown;
    border-radius: 10px;
    padding: 7px 30px;
    margin: 25px;
    border: 1.5px solid black;
    font-weight: 650;
    cursor: pointer;
}
#services-container h1 {
    font-family: 'Poppins';
    text-decoration: underline;
    text-decoration-color: rgb(64, 44, 44);
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
.center {
    text-align: center;
}
.ok {
    margin-top: 120px;

}
.services h2 {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.services
 {
    display: flex;
    justify-content: space-evenly;
 }

 .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    background-color: #f2f2f2;
    border-radius: 28px;
     }
.image {
    width: 70%;
    background-size: cover;
    height: 180px;
    margin-top: 2rem;
    display: block;
    margin: auto;
    border-radius: 7px;
}
    
.para {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 570;
    font-family: 'Roboto';
    font-style: italic;
   
}
#client-section h1 {
    font-family: 'Poppins';

}
#client-section {
    height: 350px;
    margin-top: 14px;
    
}
#client-section::before {
    content: "";
    background: url("pexels-engin-akyurt-1435909.jpg") no-repeat center center/cover ;
    height: 45%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    
}
.client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
  }
.client-items img {
height: 80px;

}
#contact-section h1 {
    font-family: 'Poppins';
}
#contact-section {
    position: relative;
}
#contact-section::before {
    content: "";
    position: absolute;
    background: url(ok/contactus.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
   border: none;
    
}
.contact-box form {
    width: 40%;
}
.contact-box label {
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 600;
}
.form-box {
    padding: 8px;
}

footer {
    background-color: black;
    color: antiquewhite;
    padding: 10px 20px;
}